<div class="header-css row bg-light pt-3 pb-3">
    <div class="col text-center">
        <a href="/">
            <img src="/images/mypetsfooddotcom.png" alt="" srcset="" width="200" height="75">
        </a>
    </div>
    
</div>