<div class="row info-css pt-2 pb-2 d-none d-sm-flex">
    <div class="col-sm-5 ml-5">
        <i class="fas fa-phone-alt"></i>
        CALL FOR ODERS: 055-4062535
    </div>
    <div class="col-sm-6 text-right ">
        <a href="#" rel="noopener noreferrer" class="ml-3"><i class="fab fa-facebook text-white fa-2x"></i></a>
        <a href="#" rel="noopener noreferrer" class="ml-3"><i class="fab fa-whatsapp text-white fa-2x"></i></a>
        <a href="#" rel="noopener noreferrer" class="ml-3"><i class="fab fa-instagram text-white fa-2x"></i></a>
    </div>
</div>
<div class="row info-css pt-2 pb-2 d-block d-sm-none">
    <div class="col-sm-12 p-1 text-center">
        <i class="fas fa-phone-alt"></i>
        CALL FOR ODERS: 055-4062535
    </div>
    <div class="col-sm-12 p-1 text-center">
        <a href="#" rel="noopener noreferrer" class="ml-3"><i class="fab fa-facebook text-white fa-2x"></i></a>
        <a href="#" rel="noopener noreferrer" class="ml-3"><i class="fab fa-whatsapp text-white fa-2x"></i></a>
        <a href="#" rel="noopener noreferrer" class="ml-3"><i class="fab fa-instagram text-white fa-2x"></i></a>
    </div>
</div>