<div class="navbar-css row bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-2 mr-2" style="width: 100%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ml-3">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SELECT BY BRAND
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each brands}}
                            <a class="dropdown-item" href="#">{{upcase this}}</a>
                        {{/each}}
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SELECT BY PET
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each pets}}
                            <a class="dropdown-item" href="#">{{upcase this}}</a>
                        {{/each}}
                    </div>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SELECT BY CATEGORY
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each categories}}
                            <a class="dropdown-item" href="#">{{ upcase this}}</a>
                        {{/each}}
                
                    </div>
                </li>
                {{#if session.user}}
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        USER PROFILE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Account setting</a>
                        <a class="dropdown-item" href="#">Orders</a>
                        <a class="dropdown-item" href="/users/logout">Logout<i class="fas fa-sign-in-alt ml-5"></i></a>
                    </div>
                </li>
                {{/if}}
            </ul>
            {{#unless session.user}}
            <a class="btn btn-outline-success mr-2" href="/users/login">
                Login
                <i class="fas fa-sign-in-alt"></i>
            </a>
            {{/unless}}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>